<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword"  content="<%= config.keyword %>">
    <link rel="shortcut icon" href="<%= config.root %>img/favicon.ico">


    <meta itemprop="name" content="Curt => 技術 x 足跡">
    <meta itemprop="image" content="https://avatars0.githubusercontent.com/u/13904994?s=460&v=4">
    <meta itemprop="description" content="網頁前端技術部落格">
    <meta name="google-site-verification" content="g4J2dF7TI9JMaBzZpVaIdg_Np2eGmpnIn9YQOO9qPgI" />

    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Curt => 技術 x 足跡">
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="https://dev-curt.me/" />
    <meta property="og:site_name" content="Curt => 技術 x 足跡">
    <meta property="og:description" content="網頁前端技術部落格">
    <meta property="og:locale" content="zh-tw">
    <meta property="og:image" content="http://avatars0.githubusercontent.com/u/13904994?s=460&v=4" />
    <title>
        <% if (page.title) { %>
        <%= page.title %>
        <% } else{%>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <!-- Custom CSS -->
    <%- css('css/aircloud.css') %>
    <%- css('css/gitment.css') %>
    <!--<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">-->
    <link href="//at.alicdn.com/t/font_620856_pl6z7sid89qkt9.css" rel="stylesheet" type="text/css">
    <!-- ga & ba script hoook -->
    <script></script>
</head>
